<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">

      <div class="navbar-brand px-4">白川渡フリーWi-Fi管理</div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item px-3">
            <a class="nav-link" aria-current="page" href="/Today">Today</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" aria-current="page" href="/ThisWeek">ThisWeek</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" aria-current="page" href="/ThisMonth">ThisMonth</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" aria-current="page" href="/SelectTermForm">SelectTerm</a>
          </li>
        </ul>
      </div>
    </div>
</nav>